<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!--stateless test needs dao testing ctor, use value to pass the file as arg-->
    <!--<bean id="dao" class="com.sg.m4vmv2.dao.VMDAOImpl"/>-->
    
    <bean id="testDao" class="com.sg.m4vmv2.dao.VMDAOImpl">
        <constructor-arg value="testInventory.txt"/>
    </bean>
    
    <!--stateful testing needs stubs only-->
    <bean id="daoStub" class="com.sg.m4vmv2.service.VMDAOImplStub"/>
    
    <bean id="auditDaoStub" class="com.sg.m4vmv2.service.VMAuditDAOImplStub"/>
    
    <bean id="testServ" class="com.sg.m4vmv2.service.VMServiceImpl">
        <constructor-arg ref="daoStub"/>
        <constructor-arg ref="auditDaoStub"/>
    </bean>
</beans>
